{% extends "base.html" %}
{% block content %}
<div class="artist-profile">
    <img src="/static/images/slaqblxde.png" alt="SlaQ Blxde" class="full-img">
    <h2 style="text-align: center;"><b>SLAQ BLXDE</b></h2>
    <p style="text-align: center;"><a href="https://linktr.ee/slaq88_?fbclid=IwY2xjawKtWP5leHRuA2FlbQIxMABicmlkETBuNFN4bE9vQ1JORWdSQ0hXAR6YqP2dWZcJjq_uEJjlldAYdLsetmn0rBNCsnK06KNYqQDGHcVQsG2o1GTqig_aem_YiGzvqprvLqub0UKe6Ef6w">/slaqq88</a></p>
    <div style="text-align: center;">
        <a href="https://www.instagram.com/officialslaq88_/?fbclid=IwY2xjawKtWIBleHRuA2FlbQIxMABicmlkETBuNFN4bE9vQ1JORWdSQ0hXAR6qgh9MZwoypOna0vmfpW852YjB1gI6rvAQDo9XNV4ZtgXjYNFcmaXW3KH9qA_aem_xEimwloe2r9iyaAO7-UwkQ">Instagram - </a>
        <a href="https://facebook.com/slaqblxde"> Facebook - </a>
        <a href="https://x.com/officialslaq?fbclid=IwY2xjawKtWLRleHRuA2FlbQIxMABicmlkETBuNFN4bE9vQ1JORWdSQ0hXAR66693uU82FtEyE0NUw491ord8fHD_MSGuUaW7j7UCSLePahRZD-C3--xMtZQ_aem_60UIPEhMc6wh7EeFehjv1Q"> X - </a>
    </div>
    <p class="description">Hlonolofatso Pungutche, known by his stage name "SLAQ BLXDE", Born from the streets of Bloemfontein and raised by the rhythm, S L A Q B L X D E has carved a unique path in the hip-hop universe. With a voice that echoes the struggles and triumphs of urban life, blending razor-sharp lyrics with beats that shake the soul.</p>

    <div style="background-color: #222; color: white; padding: 20px; text-align: center; margin-top: 40px;">
        <h2 style="margin: 0;">RELEASES</h2>
    </div>
    <div class="releases">
    <div style="text-align: left; margin-top: 20px; padding-left: 20px;">
        <h3>SINGLES</h3>
    </div>
        <div class="release">
            <img src="/static/images/slaq2.jpg" alt="Song Art">
            <div>
                <p>S L A Q B L X D E - changes freestyles.mp3</p>
                <a href="/static/music/S L A Q B L X D E - changes freestyles.mp3" download>Download</a> | <a href="https://open.spotify.com/artist/1P2IEJmIezssEWefltrZN4?si=3se2k7Z0QJqSYaVOV2s56A&fbclid=IwY2xjawKtWx9leHRuA2FlbQIxMABicmlkETBuNFN4bE9vQ1JORWdSQ0hXAR66693uU82FtEyE0NUw491ord8fHD_MSGuUaW7j7UCSLePahRZD-C3--xMtZQ_aem_60UIPEhMc6wh7EeFehjv1Q&nd=1&dlsi=92502fc6512647aa">Stream(SPOTIFY)</a>
            </div>
        </div>

        <div class="release">
            <img src="/static/images/slaq2.jpg" alt="Song Art">
            <div>
                <p>S L A Q B L X D E - different brred - Output - Stereo Out.mp3</p>
                <a href="/static/music/S L A Q B L X D E - different brred - Output - Stereo Out.mp3" download>Download</a> | <a href="https://open.spotify.com/artist/1P2IEJmIezssEWefltrZN4?si=3se2k7Z0QJqSYaVOV2s56A&fbclid=IwY2xjawKtWx9leHRuA2FlbQIxMABicmlkETBuNFN4bE9vQ1JORWdSQ0hXAR66693uU82FtEyE0NUw491ord8fHD_MSGuUaW7j7UCSLePahRZD-C3--xMtZQ_aem_60UIPEhMc6wh7EeFehjv1Q&nd=1&dlsi=92502fc6512647aa">Stream(SPOTIFY)</a>
            </div>
        </div>
        <div class="release">
            <img src="/static/images/slaq2.jpg" alt="Song Art">
            <div>
                <p>S L A Q B L X D E - I can’t go.mp3</p>
                <a href="/static/music/S L A Q B L X D E - I can’t go.mp3" download>Download</a> | <a href="https://open.spotify.com/artist/1P2IEJmIezssEWefltrZN4?si=3se2k7Z0QJqSYaVOV2s56A&fbclid=IwY2xjawKtWx9leHRuA2FlbQIxMABicmlkETBuNFN4bE9vQ1JORWdSQ0hXAR66693uU82FtEyE0NUw491ord8fHD_MSGuUaW7j7UCSLePahRZD-C3--xMtZQ_aem_60UIPEhMc6wh7EeFehjv1Q&nd=1&dlsi=92502fc6512647aa">Stream(SPOTIFY)</a>
            </div>
        </div>
        <div class="release">
            <img src="/static/images/slaq2.jpg" alt="Song Art">
            <div>
                <p>S L A Q B L X D E - leo interlude - Output - Stereo Out.mp3</p>
                <a href="/static/music/S L A Q B L X D E - leo interlude - Output - Stereo Out.mp3" download>Download</a> | <a href="https://open.spotify.com/artist/1P2IEJmIezssEWefltrZN4?si=3se2k7Z0QJqSYaVOV2s56A&fbclid=IwY2xjawKtWx9leHRuA2FlbQIxMABicmlkETBuNFN4bE9vQ1JORWdSQ0hXAR66693uU82FtEyE0NUw491ord8fHD_MSGuUaW7j7UCSLePahRZD-C3--xMtZQ_aem_60UIPEhMc6wh7EeFehjv1Q&nd=1&dlsi=92502fc6512647aa">Stream(SPOTIFY)</a>
            </div>
        </div>
        <div class="release">
            <img src="/static/images/slaq2.jpg" alt="Song Art">
            <div>
                <p>S L A Q B L X D E - Soothe.mp3</p>
                <a href="/static/music/S L A Q B L X D E - Soothe.mp3" download>Download</a> | <a href="https://open.spotify.com/artist/1P2IEJmIezssEWefltrZN4?si=3se2k7Z0QJqSYaVOV2s56A&fbclid=IwY2xjawKtWx9leHRuA2FlbQIxMABicmlkETBuNFN4bE9vQ1JORWdSQ0hXAR66693uU82FtEyE0NUw491ord8fHD_MSGuUaW7j7UCSLePahRZD-C3--xMtZQ_aem_60UIPEhMc6wh7EeFehjv1Q&nd=1&dlsi=92502fc6512647aa">Stream(SPOTIFY)</a>
            </div>
        </div>
    
    <div style="text-align: left; margin-top: 20px; padding-left: 20px;">
        <h3>ALBUMS</h3>
       <div class="release">
            <img src="/static/images/b.l.u.e.jpg" alt="Song Art">
            <div>
                <p><b>B.L.U.E</b></p>
                <p><i>SLAQ BLXDE</i></p>
                <a href="https://ditto.fm/blue-s-l-a-q-b-l-x-d-e">Download</a> | <a href="https://open.spotify.com/artist/1P2IEJmIezssEWefltrZN4?si=3se2k7Z0QJqSYaVOV2s56A&fbclid=IwY2xjawKtWx9leHRuA2FlbQIxMABicmlkETBuNFN4bE9vQ1JORWdSQ0hXAR66693uU82FtEyE0NUw491ord8fHD_MSGuUaW7j7UCSLePahRZD-C3--xMtZQ_aem_60UIPEhMc6wh7EeFehjv1Q&nd=1&dlsi=92502fc6512647aa">Stream(SPOTIFY)</a>
            </div>
        </div>
    </div>        
    </div>
</div>
{% endblock %}
