{% extends "base.html" %}
{% block content %}
<div class="home-banner" style="text-align: center;">
    <img src="/static/images/homepage.png" alt="Handcrafted Image" class="banner-image">
    <h1><i><b>HAND CRAFTED ARTS</b></i></h1>
    <h2><i>est 2024</i></h2>
    <p class="description">
        h a n d c r a f t e d a r t s is a creative fun collective brand & record label based on clothing designs, paintings & music. Founded by HLONOLOFATSO PUNGUTCHE (slaqblxde). Everything designed, painted and produced by our artists may be promoted using the brand's signature "#handcraftedarts" in condition of tagging the social media page of the brand. If the signature is however used in a manner of self promotion by an individual who did not collaborate with the brand, the founder has every right to request that the poster should be taken down or the signature should be removed on the post.
    </p>
</div>
{% endblock %}
